body {
    background-color: hsl(0, 0%, 95%);
    padding: 10vh 0%;
}

#container {
    display: flex;
    flex-direction: row;

    margin: auto;
    width: 70%;

    height: 70vh;
} 

#sedans-info {
    background-color: hsl(31, 77%, 52%);
}

#suvs-info {
    background-color: hsl(184, 100%, 22%);
}

#luxury-info {
    background-color: hsl(179, 100%, 13%);
}

.info {
    display: flex;
    flex-direction: column;
    padding: 50px;
}

.info>* {
    width: fit-content;
}

.info > h1 {
    color: hsl(0, 0%, 95%);

    font-family: 'Big Shoulders Display', sans-serif;
    font-weight: 700;
}

.info > p {
    color: hsla(0, 0%, 100%, 0.75);

    font-size: 15px;
    font-family: 'Lexand Deca', sans-serif;
    font-weight: 400;

    margin-bottom: 40px;
}

.info > button  {
    background-color: hsl(0, 0%, 95%);
    mix-blend-mode: screen;

    font-size: 15px;
    font-family: 'Big Shoulders Display', sans-serif;
    font-weight: 700;

    margin-top: 40px;
    border: solid 2px hsl(0, 0%, 95%);
    border-radius: 20px;
    padding: 10px 20px;

    transition: all 0.4s ease;
}

.info > button:hover {
    background-color: transparent;
    color: hsl(0, 0%, 95%);
    mix-blend-mode: none;

    cursor: pointer;
}